#define ZMK_POINTING_DEFAULT_MOVE_VAL 1200  // 600
#define ZMK_POINTING_DEFAULT_SCRL_VAL 25   // 10

#include <input/processors.dtsi>
#include <zephyr/dt-bindings/input/input-event-codes.h>
#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/outputs.h>
#include <dt-bindings/zmk/pointing.h>
#include <dt-bindings/zmk/rgb.h>

&mmv_input_listener { input-processors = <&zip_xy_scaler 2 1>; };

&msc_input_listener { input-processors = <&zip_scroll_scaler 2 1>; };

&msc {
    acceleration-exponent = <1>;      // 0
    time-to-max-speed-ms = <100>;       // 300
    delay-ms = <0>;                   // 0
};

&mmv {
    time-to-max-speed-ms = <500>;
    acceleration-exponent = <1>;
    trigger-period-ms = <16>;
};

&soft_off { hold-time-ms = <2000>; };

/ {
    scroll_encoder: scroll_encoder {
        compatible = "zmk,behavior-sensor-rotate";
        #sensor-binding-cells = <0>;
        bindings = <&msc SCRL_DOWN>, <&msc SCRL_UP>;

        tap-ms = <100>;
    };

    macros {
        m_ntil: m_ntil {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp TILDE &kp N>;
        };

        m_ntil_upper: m_ntil_upper {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp TILDE &kp LS(N)>;
        };

        dquote: dquote {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp DOUBLE_QUOTES &kp SPACE>;
        };

        m_squote: m_squote {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp SINGLE_QUOTE &kp SPACE>;
        };

        m_tilde: m_tilde {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp RA(GRAVE) &kp SPACE>;
        };
    };

    behaviors {
        ntil: ntil {
            compatible = "zmk,behavior-mod-morph";
            #binding-cells = <0>;
            bindings = <&m_ntil>, <&m_ntil_upper>;

            mods = <(MOD_LSFT|MOD_RSFT)>;
        };

        // / (no shift) and \ (shift)

        sl_bs: sl_bs {
            compatible = "zmk,behavior-mod-morph";
            #binding-cells = <0>;
            bindings = <&kp SLASH>, <&kp BACKSLASH>;

            mods = <(MOD_LSFT|MOD_RSFT)>;
        };

        // . (no shift) and : (shift)

        dot_colon: dot_colon {
            compatible = "zmk,behavior-mod-morph";
            #binding-cells = <0>;
            bindings = <&kp DOT>, <&kp COLON>;

            mods = <(MOD_LSFT|MOD_RSFT)>;
        };

        // , (no shift) and ; (shift)

        com_semi: com_semi {
            compatible = "zmk,behavior-mod-morph";
            #binding-cells = <0>;
            bindings = <&kp COMMA>, <&kp SEMICOLON>;

            mods = <(MOD_LSFT|MOD_RSFT)>;
        };

        // dead acute (no shift) → á é í ó ú | ~ (shift)

        acc_til: acc_til {
            compatible = "zmk,behavior-mod-morph";
            #binding-cells = <0>;
            bindings = <&kp RA(SINGLE_QUOTE)>, <&m_tilde>;

            mods = <(MOD_LSFT|MOD_RSFT)>;
        };

        // " (no shift) and ' (shift)

        qt: qt {
            compatible = "zmk,behavior-mod-morph";
            #binding-cells = <0>;
            bindings = <&dquote>, <&m_squote>;

            mods = <(MOD_LSFT|MOD_RSFT)>;
        };

        // = (no shift) and | (shift)

        eq_pipe: eq_pipe {
            compatible = "zmk,behavior-mod-morph";
            #binding-cells = <0>;
            bindings = <&kp EQUAL>, <&kp PIPE>;

            mods = <(MOD_LSFT|MOD_RSFT)>;
        };

        // $ (no shift) and € (shift)

        dol_eur: dol_eur {
            compatible = "zmk,behavior-mod-morph";
            #binding-cells = <0>;
            bindings = <&kp DOLLAR>, <&kp RA(N5)>;

            mods = <(MOD_LSFT|MOD_RSFT)>;
        };
    };

    combos {
        compatible = "zmk,combos";

        softoff {
            bindings = <&soft_off>;
            key-positions = <14 28 40>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        layer0 {
            bindings = <
&kp ESC           &kp N1    &kp N2        &kp N3     &kp N4  &kp N5    &kp UP_ARROW     &kp N6  &kp N7  &kp N8     &kp N9      &kp N0     &kp DELETE
&kp TAB           &kp Q     &kp W         &kp E      &kp R   &kp T     &kp DOWN_ARROW   &kp Y   &kp U   &kp I      &kp O       &kp P      &kp BACKSPACE
&kp LEFT_SHIFT    &kp A     &kp S         &kp D      &kp F   &kp G     &kp LEFT_ARROW   &kp H   &kp J   &kp K      &kp L       &ntil      &acc_til
&kp LEFT_CONTROL  &kp Z     &kp X         &kp C      &kp V   &kp B     &kp RIGHT_ARROW  &kp N   &kp M   &com_semi  &dot_colon  &kp MINUS  &kp ENTER
&kp C_MUTE        &kp LGUI  &kp LEFT_ALT  &kp SPACE  &qt     &mo 1     &kp ENTER        &mo 2   &sl_bs  &kp SPACE  &dol_eur    &eq_pipe
            >;

            sensor-bindings = <&inc_dec_kp C_VOLUME_UP C_VOL_DN>;
            display-name = "BASE";
        };

        layer_1 {
            bindings = <
&kp F12       &kp F1           &kp F2          &kp F3           &kp F4           &kp F5             &mmv MOVE_UP     &kp F6           &kp F7           &kp F8         &kp F9      &kp F10           &kp F11
&trans        &kp GRAVE        &mkp LCLK       &mkp MCLK        &mkp RCLK        &mkp MB4           &mmv MOVE_DOWN   &kp PG_UP        &kp END          &kp UP         &kp HOME    &kp LEFT_BRACE    &kp RIGHT_BRACE
&kp CAPSLOCK  &kp TILDE        &trans          &trans           &trans           &mkp MB5           &mmv MOVE_LEFT   &kp PG_DN        &kp LEFT         &kp DOWN       &kp RIGHT   &kp LEFT_BRACKET  &kp RIGHT_BRACKET
&trans        &rgb_ug RGB_OFF  &rgb_ug RGB_ON  &rgb_ug RGB_EFF  &rgb_ug RGB_EFR  &rgb_ug RGB_SPI    &mmv MOVE_RIGHT  &rgb_ug RGB_BRI  &rgb_ug RGB_BRD  &kp INSERT     &kp DOLLAR  &kp LESS_THAN     &kp GREATER_THAN
&kp C_MUTE    &bt BT_CLR       &kp RALT        &bt BT_NXT       &kp PRINTSCREEN  &trans             &mkp LCLK        &kp EQUAL        &kp ASTERISK     &kp PAGE_DOWN  &kp PG_UP   &kp PERCENT
            >;

            display-name = "MOVE";
            sensor-bindings = <&scroll_encoder>;
        };

        layer_2 {
            bindings = <
&kp TILDE  &bt BT_SEL 0  &bt BT_SEL 1    &bt BT_SEL 2  &bt BT_SEL 3  &bt BT_SEL 4    &mmv MOVE_UP     &kp F6  &kp F7       &kp F8      &kp F9     &kp F10      &trans
&trans     &bt BT_CLR    &bt BT_CLR_ALL  &trans        &trans        &trans          &mmv MOVE_DOWN   &trans  &trans       &kp F11     &kp F12    &kp UNDER    &kp PLUS
&trans     &out OUT_USB  &out OUT_BLE    &trans        &trans        &trans          &mmv MOVE_LEFT   &trans  &trans       &trans      &trans     &kp LBRC     &kp RBRC
&trans     &sys_reset    &trans          &bootloader   &trans        &trans          &mmv MOVE_RIGHT  &trans  &bootloader  &sys_reset  &soft_off  &bootloader  &trans
&trans     &trans        &trans          &trans        &trans        &trans          &mkp LCLK        &trans  &trans       &bt BT_CLR  &trans     &bt BT_NXT
            >;

            display-name = "SIGN";
            sensor-bindings = <&scroll_encoder>;
        };

        layer_3 {
            bindings = <
&trans  &trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans  &trans
            >;
        };
    };
};
